---
import PasswordGenerator from "../components/PasswordGenerator";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Password Generator">
  <main
    class="container max-w-3xl mx-auto flex flex-col justify-center gap-12 mb-auto h-screen"
  >
    <PasswordGenerator client:load />
  </main>
</Layout>
